.fast-right-spinner {
    -webkit-animation: glyphicon-spin-r 1s infinite linear;
    animation: glyphicon-spin-r 1s infinite linear;
    margin-right: 1em;
}

@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.github-ribbon {
    position: absolute;
    top: 0; right: 0; border: 0;
}

.age-header,
.age-data {
    text-align: right;
}

.name-data,
.age-data,
.employee-data,
.nick-data,
.delete-data {
    vertical-align: middle !important;    
}

.employee-header,
.nick-header,
.employee-data,
.delete-data {
    text-align: center;
}

#top-controls {
    margin-bottom: 1em;
}

#main-table-wrapper {
    overflow-y: scroll;
    height: 40vh;
}

#dumping-panel {
    height: 35vh;
    margin-top: 1em;
    overflow-y: scroll;
}
